// Body
$body-bg: #ffffff;




// Typography
//$font-family-sans-serif: 'Nunito', sans-serif;
$font-family-sans-serif: 'Inter', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Tamaños de fuente
$font-size-small: 14px;
$font-size-medium: 16px;
$font-size-large: 20px;

// Colores
$color-primary: #007bff;
$color-secondary: #6c757d; 
$color-white: #ffffff;
$color-black: #000000;


a{
    text-decoration: none !important; 
}

.text-white {
    color: $color-white;
}

/* Custom Styles for Card */
.custom-card {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
    border-radius: 8px;
    background-color: #737373;
    color: white;
    font-family: Arial, sans-serif;
}

.custom-card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.custom-card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.5));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
}

.custom-card-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
}

.custom-card-button {
    background-color: #007bff;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 20px;
    font-size: 0.9rem;
    cursor: pointer;
    align-self: flex-start;
}

.custom-card-button:hover {
    background-color: #0056b3;
}

.custom-card-view-button {
    background-color: #28a745;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 20px;
    font-size: 0.9rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 8px;
    align-self: flex-start;
}

.custom-card-view-button:hover {
    background-color: #218838;
}

.custom-card-date {
    font-size: 0.9rem;
    color: #e0e0e0;
    margin: 0;
    align-self: flex-end;
}

/* ITINERARIOS */
.itinerario h4 {
    color: #0d6efd;
}

.itinerario p {
    line-height: 1.6;
}

.carousel img {
    max-height: 400px;
    object-fit: cover;
}
